@import "./_font"
@import "./_icon"
@import "./_variables"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
body
    background-color: #1E1E1E
    scroll-behavior: smooth !important
    position: relative
.navbar
    background: linear-gradient(90deg,#333333 , #3b3b3b)
    height:4vh
    width: 100vw !important
///////////////////////////////////////////////// animation intro ////////////////////////////////////////////////////////////////////
.divTotal
    z-index: 1
    background-color: #1E1E1E
    width: 100vw
    height: 100vh
    position: absolute
.divSecondaire
    z-index: -1
    position: absolute

    // body
//     background-color: #252527
.endAnim
    display: none !important 

code
    color: #921dc0

#button_launch
    position: relative
#button_launch:hover
    background-color: #ff0000

input:focus, button:focus
    outline: none !important
    box-shadow: 0 0 0 0 transparent !important

.container
    width:100vw
    overflow: hidden

.display-anim
    width: 100vw
    height:100vh
    position: relative
    -webkit-animation: blop 3s 
    animation-iteration-count: 1
    animation-fill-mode: forwards
@-webkit-keyframes blop
    0%
        top:0px
        
    99%
        top:600px
        
        opacity: 100%
    100%
        opacity: 0%

/*scrollBAR*/
::-webkit-scrollbar
    width: 10px
/* Track
::-webkit-scrollbar-track
    background: #1E1E1E
/* Handle
::-webkit-scrollbar-thumb
    background: #383838

::-webkit-scrollbar-thumb:hover
    background: #555
article
    h2
        font-size: 20px
        font-weight: lighter !important
        margin-top: 150px
        position: relative
        transform: translateY(-50%)
    #text
        margin: 0px
        font-size: 20px !important
        font-weight: lighter !important
// fin test-1
// text-tape

.cursor
    height:15px
    width: 2px
    display: inline-block
    background-color: black
    animation-name: cursor2
    animation-duration: 0.7s
    animation-iteration-count: infinite
    animation-timing-function: ease-in-out
    animation-fill-mode: forwards

@keyframes cursor2
    0%
        background-color: #252527
    
    100%
        background-color: white

// fondu-background
.fondu
    width: 100vw
    height: 100vh
    -webkit-animation-name: fadeInOpacity
    animation-name: fadeInOpacity
    -webkit-animation-iteration-count: 1
    animation-iteration-count: 1
    -webkit-animation-timing-function: ease-out
    animation-timing-function: ease-out
    -webkit-animation-duration: 2s
    animation-duration: 2s
    animation-fill-mode: forwards


@-webkit-keyframes fadeInOpacity 
  100%
    
    opacity: 0
    background-color: purple    
  
  0% 
    opacity: 1
    background-color: #1E1E1E
  


.test
    position: fixed !important

.verticalbar
    background: linear-gradient(90deg,#333333 , #3b3b3b)
    width: 4vw
    height:96vh
    // position: absolute !important
    // z-index: 2

.explorateur
    // left: 0
    background-color: #252527
    width: 20vw
    height: 96vh
.blocgris1
    background-color:#383838
    width:100%
    height:20px
.fa-html5
    color: #f16e02
.fa-css3-alt
    color:#4A80A1
.fa-sass
    color:#b96ead

.fa-class
    &:hover
        color: white !important


.accordion
    width: 76vw
.accordion-item
    
    
    background-color: #1E1E1E!important
.accordion-header
    .accordion-button
        background-color: #383838
        width: 110px
        height: 30px !important
        padding: 0px 5px 0px 15px !important
        color:#ffffff93 !important
.accordion-button::after
    background-image: none !important
.accordion-button:not(.collapsed)
    color: white !important
    background-color: #1E1E1E
.accordion-button:focus
    outline: #ffffff00 !important
.accordion-body
    background-color: #525252bd
    width:600px
    height:600px
    overflow: auto
///////////////////////////scrollbar/////////////////////////////
::-webkit-scrollbar
    width: 10px
/* Track
::-webkit-scrollbar-track
    background: #1E1E1E
/* Handle
::-webkit-scrollbar-thumb
    background: #383838

::-webkit-scrollbar-thumb:hover
    background: #555
/* Handle on hover
///////////////////////////scrollbar/////////////////////////////
///////////////////////////text-selection///////////////////////
::selection
    background-color: #e97c00
    color: #001f63
